.person-image {
  width: 233px;
  height: 215px;
  border-radius: 25px;
}

.person-name {
  color: #02203c;
  font-size: 30px;
  text-decoration: underline;
  margin: 0;
}

.designation {
  font-size: 18px;
  color: rgb(6, 6, 5);
}
